html,
body {
    height: 100%;
}

.box,
.box-1 {
    font-size: 30px;
    padding: 5px 4px 3px 1px;
    margin: 5px 4px 3px 1px;;
    border: 1px solid black;
    display: inline-block;
}

/*
.box-1 {
    height: 100%;
}
*/

.box-1 {
    height: 300px;
    /*
    display: none;
    */
}

.box:hover {
    color: red;
    font-size: 40px;
}