body {
    display: grid;
    height: 96vh;
    width: 97.5vw;
    grid-gap: 1rem;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 80% 10%;
    color: white;
    font-size: 3rem;
    text-align: center;
}

header {
    background-color: dimgray;
    grid-column-start: 1;
    grid-column-end: -1;
}

div {
    background-color: dimgray;
    grid-column-start: 1;
    grid-column-end: 2;
}

main {
    background-color: dimgray;
    grid-column-start: 2;
    grid-column-end: -1;
}

footer {
    background-color: dimgray;
    grid-column-start: 1;
    grid-column-end: -1;
}